Source: beagle
Section: gnome
Priority: optional
Maintainer: Ubuntu Mono Team <ubuntu-mono@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian CLI Applications Team <pkg-cli-apps-team@lists.alioth.debian.org>
Uploaders: Jose Carlos Garcia Sogo <jsogo@debian.org>, Mirco Bauer <meebey@debian.org>
Build-Depends: debhelper (>= 5.0.37.2),
 cli-common-dev (>= 0.5.4),
 dpatch,
 pkg-config,
 intltool,
 autotools-dev,
 autoconf,
 automake,
 zip,
 unzip,
 gtk-doc-tools,
 xdg-utils,
 mono-devel (>= 2.4.2),
 libmono-dev (>= 2.0.1),
 libmono-system-runtime2.0-cil,
 libmono-sharpzip2.84-cil,
 libmono-sqlite2.0-cil,
 libmono-cairo2.0-cil,
 libgtk2.0-cil-dev (>= 2.4),
 libglade2.0-cil-dev,
 libgconf2.0-cil-dev,
 libgnome2.0-cil-dev,
 libgnome-vfs2.0-cil-dev,
 libgmime2.2a-cil,
 libgsf0.0-cil (>= 0.6),
 libndesk-dbus-glib1.0-cil-dev,
 libndesk-dbus1.0-cil-dev (>= 0.5.2),
 libavahi-cil-dev (>= 0.6.10),
 libtaglib-cil-dev,
 monodoc-base,
 libgnome-desktop-dev,
 libgtk2.0-dev (>= 2.10),
 libsqlite3-dev,
 libchm-dev,
 libxss-dev,
 librsvg2-dev,
 libxml2-dev (>= 2.6.19),
 libwv-dev,
 libexif-dev
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.debian.org/svn/pkg-cli-apps/packages/beagle/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-cli-apps/packages/beagle/trunk/
Homepage: http://www.beagle-project.org/

Package: beagle
Architecture: any
Suggests: gnumeric, beagle-backend-evolution, mozilla-beagle, thunderbird-beagle, gnome-web-photo
Recommends: schedutils | util-linux (>= 2.13.1), poppler-utils, mono-gmcs
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}, bash (>= 3.0), adduser, dbus, xdg-utils
Description: indexing and search tool for your personal data
 A desktop search util for indexing and searching user's data. At the moment,
 it can index filesystems, Pidgin logs, Evolution mail and data, RSS and other.
 .
 Beagle project web is at http://beagle-project.org/

#Package: beagle-backend-evolution
#Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}, beagle (>= ${source:Version}), beagle (<< ${source:Version}.1~)
#Description: evolution data backend for beagle
# Backend that allows Beagle indexing calendar and contact entries from 
# Evolution.
# .
# Beagle is a desktop search util for indexing and searching user's data. 
# At the moment, it can index filesystems, Pidgin logs, Evolution mail 
# and data, RSS and other.

#Package: mozilla-beagle
#Architecture: all
#Depends: beagle (>= ${source:Version}), beagle (<< ${source:Version}.1~), firefox | abrowser, ${misc:Depends}
#Description: Beagle extension for Firefox
# Extension that allows Beagle indexing webpages visited by the user.
# .
# Beagle is a desktop search util for indexing and searching user's data. 
# At the moment, it can index filesystems, Pidgin logs, Evolution mail 
# and data, RSS and other.

#Package: thunderbird-beagle
#Architecture: all
#Depends: beagle (>= ${source:Version}), beagle (<< ${source:Version}.1~), thunderbird, ${misc:Depends}
#Description: Beagle extension for Thunderbird
# Extension that allows Beagle indexing mails read by the user.
# .
# Beagle is a desktop search util for indexing and searching user's data. 
# At the moment, it can index filesystems, Pidgin logs, Evolution mail 
# and data, RSS and other.

Package: beagle-dev
Architecture: any
Section: gnome
Depends: beagle (= ${binary:Version}), ${misc:Depends}
Description: library for accessing beagle (C# development files)
 This library allow programmers accessing Beagle daemon and performing searches,
 and this package contains needed files for developing with it using C#.
 .
 Beagle is a desktop search util for indexing and searching user's data. 
 At the moment, it can index filesystems, Pidgin logs, Evolution mail 
 and data, RSS and other.
