[submodule "gcode/beagrep"]
        path = gcode/beagrep
        url = https://github.com/baohaojun/beagrep.git
[submodule ".emacs_d/org-jira"]
        path = .emacs_d/org-jira
        url = https://github.com/baohaojun/org-jira.git
[submodule ".emacs_d/mo-git-blame"]
        path = .emacs_d/mo-git-blame
        url = https://github.com/baohaojun/mo-git-blame.git
[submodule "gcode/crossdict"]
        path = gcode/crossdict
        url = https://github.com/baohaojun/BTAndroidWebViewSelection
[submodule ".emacs_d/yasnippet-snippets"]
        path = .emacs_d/yasnippet-snippets
        url = https://github.com/baohaojun/yasnippet-snippets.git
[submodule ".emacs_d/skeleton-complete"]
        path = .emacs_d/skeleton-complete
        url = https://github.com/baohaojun/bbyac
[submodule "gcode/gxr"]
        path = gcode/gxr
        url = https://github.com/baohaojun/gxr
[submodule "gcode/ajoke"]
        path = gcode/ajoke
        url = https://github.com/baohaojun/ajoke
[submodule "gcode/Firemacs"]
        path = gcode/Firemacs
        url = https://github.com/baohaojun/Firemacs
[submodule "gcode/ibus-sdim"]
	path = gcode/ibus-sdim
	url = https://github.com/baohaojun/ibus-sdim
