*.o
*.lo
*.la
.deps
.libs
*.a
Makefile
Makefile.in
config.guess
config.sub
depcomp
doc/mdate-sh
htags/completion.cgi.tmpl.in
htags/style.css
htags/style.css.tmpl
install-sh
jquery/jquery.js
jquery/jquery.suggest.css
jquery/jquery.suggest.js
libparser/.cvsignore
missing
aclocal.m4
autom4te.cache/
config-h.in
config.h
config.log
config.status
configure
doc/global.info
doc/stamp-vti
doc/version.texi
globash/const.h
globash/globash
gtags.conf
htags/asm.c
htags/c.c
htags/completion.cgi.tmpl
htags/cpp.c
htags/global.cgi.tmpl
htags/java.c
htags/php.c
libparser/asm_parse.c
libparser/asm_parse.h
libparser/asm_scan.c
libparser/php.c
libtool
libutil/langmap.h
ltmain.sh
stamp-h1
global/global
gozilla/gozilla
gtags-cscope/gtags-cscope
gtags/gtags
htags/htags
libltdl
libparser/asm_res.h
libparser/c_res.h
libparser/cpp_res.h
libparser/php_res.h
libparser/java_res.h
compile
