#!/bin/bash

IFS=$'\n'
ignored_patterns=(
    $(
    for x in */; do
        if test -d "$x"/.ccache; then
            echo -n "$PWD/${x%/}"
        fi
    done
    )
    "*/out"
    "*/.repo"
    "*/po"
    "*/.git"
    "*/development/ndk/platforms/android-*"
    "*/prebuilts/ndk"
    "*/external/kernel-headers"
    "*/bionic/libc/kernel/common/linux"
    "*/Wrench-ubuntu-*"
    "*/ext-local"
    "*/onmyoji-res"
)

BEAGREP_IGNORE_DIR_PATTERNS=$(string-join , "${ignored_patterns[@]}")
