xterm*cjkWidth: true

!英文用系统默认字体，中文用文泉驿正黑，这个配置适合笔记本，屏幕分辨率是1280X800。
!look and feel
xterm.termName: xterm-256color
xterm*scrollBar: false
xterm*loginshell: true
xterm*cursorBlink: true
xterm*background:   black
xterm*foreground:   gray
xterm.borderLess: true
xterm.cursorBlink: true

!font and locale
xterm*locale: true
xterm.utf8:     true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
xterm*faceName:Monaco:antialias=True:pixelsize=20
xterm*boldFont:Sans:style=Bold:pixelsize=20
xterm*faceNameDoublesize:WenQuanYi Zen Hei:antialias=True:pixelsize=20
xterm*xftAntialias: true
xterm.cjkWidth:false
XTerm*preeditType: Root
XTerm*allowSendEvents: true
