[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gmail Notify
GenericName=Gmail Notify
Comment=New Gmail notification tool
Icon=gmail-notify-icon.png
Exec=gmail-notify
Terminal=false
Categories=Application;Network;
