#LoginWin #lbLoginLogo {
    min-width: 200px;
    min-height: 100px;
    qproperty-pixmap: url(skin:login/login-logo.png);
}

#LoginWin QPushButton {
    min-width: 91px;
    min-height: 40px;
    max-width: 91px;
    max-height: 40px;
    border-style: none;
    background: url(skin:login/login-btn.png);
}

#LoginWin QPushButton:hover {
    background: url(skin:login/login-btn-hover.png);
}

#LoginWin QPushButton:pressed {
    background: url(skin:login/login-btn-pressed.png);
}

#tbPicture, #tbEmoji, #tbScreenCapture, #tbWeibo, #tbWeixin {
    qproperty-iconSize: 24px 24px;
}

#tbFont  {
    qproperty-icon: url(skin:chat/font.png);
}


#tbEmoji {
    qproperty-icon: url(skin:emoji.png);
}

#tbPicture {
    qproperty-icon: url(skin:picture.png);
}

#tbWeibo {
    qproperty-icon: url(skin:com_sina_weibo_icon.png)
}

#tbWeixin {
    qproperty-icon: url(skin:com_tencent_mm_icon.png)
}

#tbQuickReply {
    qproperty-icon: url(skin:chat/quick-reply.png);
}

#tbScreenCapture {
    qproperty-icon: url(skin:capture-screen.png);
}

#tbViewHistory {
    qproperty-icon: url(skin:chat/view-history.png);
}

#tbFontBold {
    qproperty-icon: url(skin:chat/font-bold.png);
}

#tbFontItalic {
    qproperty-icon: url(skin:chat/font-italic.png);
}

#tbFontUnderline {
    qproperty-icon: url(skin:chat/font-underline.png);
}

#tbFontColor {
    qproperty-icon: url(skin:chat/font-color.png);
}


/* --- message manage window style --- */

#MsgManagerWin #tbSearch {
    qproperty-icon: url(skin:msgmgr/search.png);
}

#MsgManagerWin #tbAdvSearch {
    qproperty-icon: url(skin:msgmgr/adv-search.png);
}

#MsgManagerWin #tbImportMsg {
    qproperty-icon: url(skin:msgmgr/import-msg.png);
}

#MsgManagerWin #tbExportMsg {
    qproperty-icon: url(skin:msgmgr/export-msg.png);
}

#MsgManagerWin #tbRefresh {
    qproperty-icon: url(skin:msgmgr/refresh.png);
}

/* --- Find contact window style --- */

#ContacterZoneFindWin QPushButton {
    min-width: 72px;
    min-height: 22px;
    max-width: 72px;
    max-height: 22px;
}

#ContacterZoneFindWin #tbViewPersonalInfo {
    qproperty-icon: url(skin:findcontact/view-personal-info.png);
}

/*
#ContacterZoneFindWin #lbResultPrompt {
font: 15px bold;
}
*/

/* --- Single Chat window style --- */
#SingleChatWin #tbChatPortrait {
    border: 4px solid;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    border-image: url(skin:chat/portrait-frame.png) 4 4 4 4 stretch stretch;
    /*qproperty-icon: url(skin:chat/portrait-default.png);*/
}
#SingleChatWin #tbSendFile {
    qproperty-icon: url(skin:chat/send-file.png);
}

#SingleChatWin #tbSendSms {
    qproperty-icon: url(skin:chat/send-sms.png);
}

#SingleChatWin #tbInviteMultiChat {
    qproperty-icon: url(skin:chat/multi-chat.png);
}

#SingleChatWin #tabFileTransfer {
    qproperty-icon: url(skin:chat/send-file.png);
}

#SingleChatWin #tabNameCard {
    qproperty-icon: url(skin:findcontact/view-personal-info.png);
}

/* --- Multi Chat window style --- */
#MultiChatWin #tbChatPortrait {
    border: 4px solid;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    border-image: url(skin:chat/portrait-frame.png) 4 4 4 4 stretch stretch;
    qproperty-icon: url(skin:chat/portrait-default.png);
}

#MultiChatWin #tbInviteMultiChat {
    qproperty-icon: url(skin:chat/multi-chat.png);
}
#MultiChatWin #tbQuitChat {
    qproperty-icon: url(skin:chat/quit-chat.png);
}

/* --- Zone Chat window style --- */
#ZoneChatWin #tbChatPortrait {
    border: 4px solid;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    border-image: url(skin:chat/portrait-frame.png) 4 4 4 4 stretch stretch;
    /*qproperty-icon: url(skin:chat/portrait-default.png);*/
}

#ZoneChatWin #tbSendSms {
    qproperty-icon: url(skin:chat/send-sms.png);
}

#ZoneChatWin #tbSendSms {
    qproperty-icon: url(skin:chat/send-sms.png);
}

#ZoneChatWin #tbSetZoneOption {
    qproperty-icon: url(skin:chat/zone-option.png);
}

#ZoneChatWin #tbRefreshZoneNotice {
    qproperty-icon: url(skin:chat/refresh-notice.png);
}

#ZoneChatWin #tbSearchZoneMember, #tbInviteFriendToZone {
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
}

#ZoneChatWin #tbSearchZoneMember {
    qproperty-icon: url(skin:chat/search.png);
}

#ZoneChatWin #tbInviteFriendToZone {
    qproperty-icon: url(skin:chat/invite-member.png);
}

/* --- Zone Management window style --- */
#ZoneInfoWin #tbZonePortrait {
    border: 4px solid;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-image: url(skin:chat/portrait-frame-80x80.png) 4 4 4 4 stretch stretch;
    qproperty-icon: url(skin:chat/zone-portrait.png);
}

#ZoneInfoWin #lbZoneLevelIcon,#lbZoneActiveIcon {
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
}

#ZoneInfoWin #lbZoneLevelIcon {
    qproperty-pixmap: url(skin:chat/zone-level.png);
}

#ZoneInfoWin #lbZoneActiveIcon {
    qproperty-pixmap: url(skin:chat/zone-active.png);
}

/* --- set zone flag style --- */
#ZonePortraitSelectWin #tbIconPreview {
    border: 4px solid;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-image: url(skin:chat/portrait-frame-80x80.png) 4 4 4 4 stretch stretch;
}
#ZonePortraitSelectWin #frIconView {
    border:1px solid #2d8cc2;
    background: white;
}

/* --- AuthWordsWidget style --- */

#AuthWordsWidget #tbPortrait {
    border: 4px solid;
    border-image: url(skin:main/portrait-frame-middle.png) 4 4 4 4 stretch stretch;
    /*qproperty-icon: url(skin:main/portrait-default.png);*/
}

/* --- Personal Info style --- */
#PersonalInfoWin #tbPortrait {
    border: 4px solid;
    border-image: url(skin:main/portrait-frame-big.png) 4 4 4 4 stretch stretch;
}

/* ---  AboutWangWang style --- */
#AboutWangWang #lbAbout {
    min-width: 410px;
    min-height: 53px;
    qproperty-pixmap: url(skin:main/AboutWangWang.jpg);
}
