#tbPicture, #tbEmoji, #tbScreenCapture, #tbWeibo, #tbWeixin, #tbThumbsUp,
#sendItPushButton, #configurePushButton {
    qproperty-iconSize: 24px 24px;
}

#tbEmoji {
    qproperty-icon: url(skin:emoji.png);
}

#tbPicture {
    qproperty-icon: url(skin:picture.png);
}

#tbWeibo {
    qproperty-icon: url(skin:com_sina_weibo_icon.png)
}

#tbWeixin {
    qproperty-icon: url(skin:com_tencent_mm_icon.png)
}

#configurePushButton {
    qproperty-icon: url(skin:config.png)
}

#tbThumbsUp {
    qproperty-icon: url(skin:thumbs-up.png)
}

#sendItPushButton {
    qproperty-icon: url(skin:smartisan.png)
}

#tbScreenCapture {
    qproperty-icon: url(skin:capture-screen.png);
}
