[Desktop Entry]
Exec=beagle-search --icon
Name=Beagle Search Tool
Terminal=false
Type=Application
StartupNotify=false
X-KDE-autostart-phase=2
X-KDE-autostart-after=panel
