<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bhj.setclip" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <application android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:name="WrenchApplication">
    <service android:name=".PutClipService" android:exported="true" android:enabled="true">
    </service>
    <service android:name=".WrenchNotificationHelper" android:exported="true" android:enabled="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>
    <activity android:name=".MainActivity" android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter android:label="">
	<action android:name="android.intent.action.VIEW" />
	<category android:name="android.intent.category.DEFAULT" />
	<data android:scheme="file" />
	<data android:mimeType="image/*" />
	<data android:mimeType="video/*" />
	<data android:mimeType="audio/*" />
	<data android:mimeType="text/*" />
	<data android:mimeType="application/x-7z-compressed" />
	<data android:mimeType="application/msword" />
	<data android:mimeType="application/octet-stream" />
	<data android:mimeType="application/pdf" />
	<data android:mimeType="application/vnd.mophun.application" />
	<data android:mimeType="application/vnd.mpohun.certificate" />
	<data android:mimeType="application/vnd.ms-excel" />
	<data android:mimeType="application/vnd.ms-powerpoint" />
	<data android:mimeType="application/vnd.ms-project" />
	<data android:mimeType="application/x-autocad" />
	<data android:mimeType="application/x-gtar" />
	<data android:mimeType="application/x-gzip" />
	<data android:mimeType="application/x-msaccess" />
	<data android:mimeType="application/x-mscardfile" />
	<data android:mimeType="application/x-msclip" />
	<data android:mimeType="application/x-msmediaview" />
	<data android:mimeType="application/x-msmetafile" />
	<data android:mimeType="application/x-msmoney" />
	<data android:mimeType="application/x-mspublisher" />
	<data android:mimeType="application/x-msschedule" />
	<data android:mimeType="application/x-msterminal" />
	<data android:mimeType="application/x-ms-wmd" />
	<data android:mimeType="application/x-ms-wmz" />
	<data android:mimeType="application/x-mswrite" />
	<data android:mimeType="application/x-rar-compressed" />
	<data android:mimeType="application/x-shockwave-flash" />
	<data android:mimeType="application/x-tar" />
	<data android:mimeType="application/zip" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
	<data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
      </intent-filter>

    </activity>
    <receiver android:name=".PowerConnectionReceiver">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
