*.o
*.lo
*.la
.deps
.libs
*.a
config.guess
config.sub
convert.pl
depcomp
doc/mdate-sh
htags/completion.cgi.tmpl.in
htags/style.css
htags/style.css.tmpl
install-sh
jquery/jquery.js
jquery/jquery.suggest.css
jquery/jquery.suggest.js
libglibc/regex.c
libglibc/regex.h
libparser/.cvsignore
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config-h.in
config.h
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/global.info
doc/stamp-vti
doc/version.texi
global/Makefile
global/Makefile.in
globash/Makefile
globash/Makefile.in
globash/const.h
globash/globash
gozilla/Makefile
gozilla/Makefile.in
gtags-cscope/Makefile
gtags-cscope/Makefile.in
gtags.conf
gtags/Makefile
gtags/Makefile.in
htags-refkit/Makefile
htags-refkit/Makefile.in
htags/Makefile
htags/Makefile.in
htags/asm.c
htags/c.c
htags/completion.cgi.tmpl
htags/cpp.c
htags/global.cgi.tmpl
htags/java.c
htags/php.c
icons/Makefile
icons/Makefile.in
jquery/Makefile
jquery/Makefile.in
jquery/images/Makefile
jquery/images/Makefile.in
libdb/Makefile
libdb/Makefile.in
libglibc/Makefile
libglibc/Makefile.in
libltdl/Makefile
libltdl/Makefile.am
libltdl/Makefile.in
libparser/Makefile
libparser/Makefile.in
libparser/asm_parse.c
libparser/asm_parse.h
libparser/asm_scan.c
libparser/php.c
libtool
libutil/Makefile
libutil/Makefile.in
libutil/langmap.h
ltmain.sh
plugin-example/Makefile
plugin-example/Makefile.in
stamp-h1
