Source: beagrep
Section: utils
Priority: extra
Maintainer: Bao Haojun (No Comment) <baohaojun@gmail.com>
Build-Depends:
  cpio,
  dh-autoreconf,
  file,
  gawk,
  libglib2.0-cil-dev,
  libglib2.0-dev,
  libgmime2.6-cil,
  libgmime2.6-cil-dev,
  libgtk2.0-dev,
  libmono-2.0-dev,
  libmono-cil-dev,
  libmono-posix4.0-cil,
  libpcre3-dev,
  libsigsegv2,
  libsqlite3-dev,
  locales,
  mime-support,
  mono-devel,
  monodoc-base,
  pkg-config,
  shared-mime-info,
  tzdata
Standards-Version: 3.9.2
Homepage: http://baohaojun.github.com/beagrep.html
Vcs-Git: git://github.com/baohaojun/beagrep.git
Vcs-Browser: https://github.com/baohaojun/beagrep

Package: beagrep
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}, bash (>= 3.0),
  libglib2.0-0,
  libglib2.0-cil,
  libmono-posix4.0-cil,
  libmono-sqlite4.0-cil,
  libsqlite3-0,
  libstring-shellquote-perl,
  locales,
  tzdata
Description: beagrep = beagle + grep. Grep 2G source code in 2 seconds.
 beagrep use a forked version of beagle to decide the (relatively a
 lot smaller) set of possible matching files, then run grep on this
 set only. Thus greatly improve grep speed.
