[Desktop Entry]
Type=Application
Version=0.15
Name=SnoreNotify
Comment=An application which redirects dbus notifications to a unifided notification backend
Icon=snore
Exec=snorenotify
Categories=Qt;System;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
