@font-face { 
    font-family: "Minion New";
    src: url('minion-new.ttf'); 
}
/* Basic settings */

.cl-hw, .cl-er {
    color: blue;
}

.cl-pr{
    font-family:sans-serif;
    font-size:1em
}


.cl-q {
margin-left:auto;
margin-right:auto;
width:70%;
}

.cl-rj, .cl-qau
{
    float:right;
}

.cl-it, .cl-i, .cl-ant, .cl-asp, .cl-au, .cl-booki, .cl-causes, .cl-causedby, .cl-cnvto, .cl-compof, .cl-contr, .cl-cref, .cl-film, .cl-fld, .cl-itran, .cl-itrans, .cl-qau, .cl-abbr, .cl-altname, .cl-altnpluf, .cl-ets, .cl-etsep, .cl-ex, .cl-mark, .cl-pos, .cl-qau, .cl-qex, .cl-sd, .cl-ship, .cl-source, .cl-pluf, .cl-uex, .cl-isa, .cl-mathex, .cl-ratio, .cl-singf, .cl-xlati, .cl-tran, .cl-tra, .cl-iref, .cl-figref, .cl-ptcl, .cl-title, .cl-stype, .cl-part, .cl-parts, .cl-membof, .cl-member, .cl-members, .cl-corr, .cl-qperson, .cl-prod, .cl-prodmac, .cl-stage, .cl-inv, .cl-methodfor, .cl-examp, .cl-stage, .cl-unit, .cl-uses, .cl-usedby, .cl-perf, .cl-recipr, .cl-sig, .cl-wns, .cl-w16ns, .cl-spn, .cl-kingdom, .cl-phylum, .cl-subphylum, .cl-class, .cl-subclass, .cl-ord, .cl-subord, .cl-suborder, .cl-fam, .cl-subfam, .cl-gen, .cl-var, .cl-varn
{
    font-style: italic;
}

.cl-sc, .cl-adjf, .cl-conjf, .cl-decf, .cl-er, .cl-plw, .cl-singw
{
    font-variant: small-caps;
}

.cl-bold, .cl-b, .cl-colf, .cl-ct, .cl-stypec, .cl-universbold, .cl-col, .cl-ent, .cl-hw, .cl-sn, .cl-wf
{
    font-weight: bold;
}

.cl-col, .cl-colf {
    font-size: 95%;
 }

.cl-q {
    font-size: 90%;
 }

.cl-sn {
    font-size: 110%;
 }
