SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTR{idProduct}=="9006",RUN+="/home/bhj/system-config/bin/notify-phone-crash"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTR{idProduct}=="900e",RUN+="/home/bhj/system-config/bin/notify-phone-crash"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="29a9", RUN+="/home/bhj/system-config/bin/rmmod-option" OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", RUN+="/home/bhj/system-config/bin/re-xmodmap"
SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", OWNER="usbmux"
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="17ef", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="19d2", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="1004", OWNER="bhj"

