SUBSYSTEM=="usb", ATTR{idVendor}=="1949", RUN+="/home/bhj/bin/ask-to-sync-org"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", ATTR{idProduct}=="9006",RUN+="/home/bhj/bin/notify-phone-crash"
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="29a9", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{serial}=="a2024058", RUN+="/home/bhj/bin/adb-fix-gms", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{serial}=="a2024058", RUN+="/home/bhj/bin/ask-to-sync-org"
SUBSYSTEM=="usb", ATTR{idVendor}=="045e", RUN+="/home/bhj/bin/re-xmodmap"
SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", OWNER="usbmux"
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", OWNER="bhj"
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", OWNER="bhj"
