Source: ibus-sdim
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: LI Daobing <lidaobing@debian.org>, Asias He <asias.hejun@gmail.com>
Build-Depends:
 debhelper (>= 7),
 autotools-dev,
 python-support,
 pkg-config,
 libibus-dev (>= 1.2)
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/ibus
Vcs-Bzr: lp:~pkg-ime/ibus/debian-ibus-sdim
Vcs-Browser: https://code.launchpad.net/~pkg-ime/ibus/debian-ibus-sdim

Package: ibus-sdim
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, ibus (>= 1.3)
Description: table engine for IBus
 IBus-Sdim is the IM Engine framework for table-based input methods, such as
 WuBi, ErBi, CangJie and so on.
 .
 This package provide the table engine framework and one input method:
   * Compose: input special character by compose letter and diacritical mark
 .
 More input method based on ibus-sdim can be installed from
 ibus-sdim-cangjie, ibus-sdim-wubi, ...
