[Desktop Entry]
Name=Search & Indexing
Name[ar]=بحث و فهرسة
Name[bg]=Търсене и индексиране
Name[ca]=Cerca i indexació
Name[cs]=Vyhledávání a indexace
Name[da]=Søgning og indeksering
Name[de]=Suche & Indizierung
Name[dz]=འཚོལ་ཞིབ་དང་ཟུར་ཐོ་ནང་བཀོད་ནི་
Name[el]=Αναζήτηση & Καταλογοποίηση
Name[en_CA]=Search & Indexing
Name[en_GB]=Search & Indexing
Name[es]=Búsqueda e indexación
Name[eu]=Bilaketa eta indexazioa
Name[fi]=Haku ja indeksointi
Name[fr]=Recherche et indexation
Name[gl]=Busca e indexación
Name[gu]=શોધ અને અનુક્રમાંકન
Name[hu]=Keresés és indexelés
Name[it]=Ricerca e indicizzazione
Name[ja]=検索とインデックスの作成
Name[ko]=찾기 및 색인
Name[lt]=Paieška ir indeksavimas
Name[lv]=Meklēšana un indeksēšana
Name[mk]=Барам и индексирам
Name[nb]=Søk og indeksering
Name[nl]=Zoeken en indexeren
Name[pa]=ਖੋਜ ਅਤੇ ਤਤਕਰਾ
Name[pl]=Szukanie i indeksowanie
Name[pt]=Pesquisa & Indexação
Name[pt_BR]=Pesquisa & Indexação
Name[ru]=Поиск и индексирование
Name[sl]=Iskanje & indeksiranje
Name[sr]=Претрага и индексирање
Name[sr@Latn]=Pretraga i indeksiranje
Name[sv]=Sökning och indexering
Name[vi]=Tìm kiếm và Chỉ mục
Name[zh_CN]=搜索和索引
Name[zh_HK]=搜尋 & 索引
Name[zh_TW]=搜尋 & 索引
GenericName=Configure Desktop Search
GenericName[ar]=اضبط بحث سطح المكتب
GenericName[ca]=Configura la cerca a l'escriptori
GenericName[cs]=Nastavit vyhledávání
GenericName[dz]=ཌེཀསི་ཊོཔ་འཚོལ་ཞིབ་རིམ་སྒྲིག
GenericName[en_GB]=Configure Desktop Search
GenericName[es]=Configurar búsqueda de escritorio
GenericName[eu]=Konfiguratu mahaigaineko bilaketa
GenericName[fi]=Määritä työpöytähaku
GenericName[fr]=Configurer l'outil de recherche
GenericName[gl]=Configure a busca do escritorio
GenericName[gu]=ડેસ્કટોપ શોધ રૂપરેખાંકિત કરો
GenericName[he]=הגדרת חיפוש בשולחן עבודה
GenericName[hu]=Asztali keresés beállítása
GenericName[it]=Configura ricerca desktop
GenericName[ja]=デスクトップ検索の設定
GenericName[lv]=Konfigurēt meklēšanas rīku
GenericName[mk]=Конфигурација за пребарување
GenericName[nb]=Konfigurer søk for skrivebordet
GenericName[pa]=ਡੈਸਕਟਾਪ ਖੋਜ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguruj wyszukiwanie
GenericName[pt]=onfigurar Pesquisas no Ambiente de Trabalho
GenericName[pt_BR]=Configurar pesquisas no ambiente de trabalho
GenericName[sv]=Konfigurera skrivbordssökning
GenericName[zh_CN]=配置桌面搜索
GenericName[zh_HK]=設定桌面搜尋
GenericName[zh_TW]=設定桌面搜尋
Exec=beagle-settings
Icon=system-search
Type=Application
Categories=Settings;Utility;Filesystem;X-Ximian-Settings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=beagle
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.3.9
