a {
	text-decoration: underline;
	color: blue;
}

ul {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 0;
	margin-left: 4px;
}

span {
	background-color:cyan;
	padding: 2px;
	margin-right: 1px;
	margin-left: -2px;
}
