baohaojun-en.aux
baohaojun-en.log
baohaojun-en.pdf
baohaojun-zh.aux
baohaojun-zh.log
baohaojun-zh.pdf
*.html
*.pdf
*.aux
*.dvi
*.log
*.out
resume-en.tex
resume-zh.tex
resume-cn.tex
*.toc
resume-cn.tex
*.pyg
