#!/bin/sh
#
# Copyright (c) 2000, 2004, 2010 Tama Communications Corporation
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# Usage:
#       $ sh bless.sh
#
if [ ! -f 'bless.sh' ]; then
	echo "Bless.sh script should be executed as 'sh bless.sh'."
	exit 1
fi
#
# Bless the site key.
#
pwd >@LOCALSTATEDIR@/gtags/sitekeys/@sitekey@
