<link rel="stylesheet" href="js/jquery.treeview.css" />
<script type="text/javascript" src="js/jquery.treeview.js"></script>
<script type="text/javascript">
$(function() {
	$("#tree").treeview({
		animated: 100,
		control: '#control',
		collapsed: true
	});
});
</script>
